<form asp-action="CreateUser" method="post">
    <div class="card">
        <div class="card-body">
            <label for="UserName">UserNmae:</label>
            <input type="text" name="UserName" id=" UserName" class="form-control" required />
                <br />
            <label for="UserAddress">Address:</label>
            <input type="text" name="UserAddress" id="UserAddress" class="form-control" required />
                <br />
            <label for="UserPhoneNumber">PhoneNumber:</label>
            <input type="text" name="UserPhoneNumber" id="UserPhoneNumber" class="form-control" required />
            <br />
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>
