<form asp-controller="Users" asp-action="UserLogin">
    <button type="submit" class="btn btn-primary p-2">Login</button>
    <br />
</form>
<form asp-controller="Users" asp-action="CreateUser">
    <br />
    <button type="submit" class="btn btn-primary p-2">Create User</button>
</form>